@model IEnumerable<PROJ_SW.Model.Product>

@{
    ViewBag.Title = "HomePage";
}
<style>

    .thumbnail {
        width: 350px;
        height: 410px;
        border: double;
    }
</style>
<h2>HomePage</h2>


<div class="row">

    @foreach (var item in Model)
    {

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="@Url.Content(item.Prod_Image)" alt="..." width="242" height="200">
                <div class="caption">
                    <a href="@Url.Action("Details","Products", new { id=item.prod_id} )">
                        <h3>@Url.Content(item.prod_name)</h3>
                        </a>
                        <p class="" style="font-size:20px" ;>@(item.Price)</p>
                        @*<p><a href="#" class="btn btn-primary" role="button">More Info...</a></p>*@
                </div>
            </div>
        </div>

      
    }
</div>