@model IEnumerable<PROJ_SW.Model.Product>

@{
    ViewBag.Title = "HomePage";
}
<style>

    .thumbnail {
        width: 350px;
        height: 550px;
    }
</style>
<h2>HomePage</h2>


<div class="row">

    @foreach (var item in Model)
    {

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="@Url.Content(item.Prod_Image)" alt="..." width="242" height="200">
                <div class="caption">
                    <h3>@Url.Content(item.prod_name)</h3>
                    <p>@Url.Content(item.Description)</p>
                    <p><a href="#" class="btn btn-primary" role="button">Add To Cart</a></p>
                </div>
            </div>
        </div>


    }
</div>