
@{
    ViewBag.Title = "About";
}

<html>
<head>
    <title> About </title>
    <link href="~/Content/about.css" type="text/css" rel="stylesheet" />
    
</head>
<body>
    <div class="all">
        <div class="content1">
            <img src="~/Images/pharmacy.png" style="margin-left:20%;" />
        </div>
        <div class="content2">
            <h1 class="topicname">Wellness is you</h1>
            <p class="paragraph">It is not just about being healthy, it is beyond.  WELLNESS is a state of complete harmony & integration of the body, mind and spirit.  In FOUDA everything we do, think, feel, and believe is dedicated to improve your state of well-being. We are dedicated to do what beyond normal to bring wellness into your life.</p>
            <h1 class="topicname">Vision</h1>
            <p class="paragraph">To be the top healthcare service provider and partner, expanding our international services to bring wellness in each community we serve.</p>
            <h1 class="topicname">Mission</h1>
            <p class="paragraph">To do what beyond normal everyday bringing wellness into lives of our fellows' human-beings. To use advanced technology providing the most high standard accessible solutions in healthcare and retail services.</p>
            <h1 class="topicname">The 7 values</h1>
            <p class="paragraph">
                You <br />
                Compassion <br />
                Integrity <br />
                Together <br />
                Accessibility <br />
                Innovation <br />
                Excellence <br />
            </p>
            <h1 class="topicname">Philosophy behind our symbol</h1>
            <p class="paragraph">
                We attract all positives <br />
                We bridge all good meanings. <br />
                We bring happiness in all what we do. <br />

            </p>




        </div>
    </div>
</body>
</html>