
@{
    ViewBag.Title = "Artical2";
}

<html>
<head>
    <title> Artical </title>
    <link href="~/Content/StyleArtical.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/footer.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="services">
        <h1> <span class="BlueText">READ OUR </span> <br> <br /> <span class="head"> TOPICS </span> </h1>
    </div>
    <div class="all">
        <div class="content1">
            <img src="~/Images/hands2.jpg" class="imgbox">
            <br /><br /><br />
            <img src="~/Images/baby.jpg" class="imgbox" style="margin-top:200px">
            <br /><br /><br /><br /><br /><br /><br /><br /><br />
            <form class="rating1">
                <label>
                    <input type="radio" name="stars" value="1" />
                    <span class="icon1">♥</span>
                </label>

            </form>
            <a href="" class="but"> View All </a>
        </div>
        <div class="content2">
            <h1 class="topicname">Climate Change May Hurt Babies' Hearts</h1>
            <p class="paragraph">
                Climate change is melting ice, intensifying storms and bleaching coral reefs, and now, a new study suggests that it could also take a toll on babies' hearts.
                <br /><br />
                The researchers analyzed brain scans of more than 200 adults, specifically looking at a measure of the brain's <a>metabolism</a>
                <br /><br />
                that's known to change with age. They found that, based on these metabolic levels, women's brains appeared about three years younger, on average, than men's brains of the same chronological age.
                <br /><br />
                The findings still need to be confirmed in follow-up studies. But if true, the researchers hypothesize that having a metabolically "younger" brain might provide women with "some degree of resilience to aging-related changes" in the brain. This in turn may help explain why women tend to experience less of a decline in thinking abilities as they age, the researchers wrote in the study, published today (Feb. 4) in the journal
                <a>Proceedings of the National Academy of Sciences</a>
                <br /><br />
                Still, much more research is needed. [
                <a>Men vs. Women: Our Key Physical Differences Explained</a>
                ]
                <br /><br />
                "What we don't know is what it means," senior study author Dr. Manu Goyal, an assistant professor of radiology at Washington University School of Medicine in St. Louis,
                <a>said in a</a>
                <a>statement</a>
                <br /><br />
                However, it's possible that it could explain why "women don't experience as much
                <a>cognitive decline</a>
                <br />
                [as men] in later years, ... because their brains are effectively younger."
                <br /><br />
                <h1>"Younger" brains</h1>
                <br />
                The brain's major fuel source is sugar, or glucose, but exactly how the brain uses glucose changes with age. When people are younger, they devote more glucose to a metabolic process called "aerobic glycolysis," which is thought to help with
                <a>brain development</a>
                <br /><br />
                and maturation, including brain-cell growth. But as people age, their brain undergoes a reduction in aerobic glycolysis, which reaches very low levels by the time they are in their 60s.
                <br /><br />
                But little is known about how brain metabolism differs between men and women. So in the new study, the researchers analyzed brain-imaging scans of 121 women and 84 men who ranged in age from 20 to 82.
                <br /><br />
                They trained a machine-learning algorithm to find a relationship between people's age and their
                <a>brain metabolism</a>
                <br /><br />
                They found that the algorithm could closely predict a person's chronological age based on their brain's "metabolic age."
                <br /><br />
                Then, they trained the machine-learning algorithm using only men's ages and brain- metabolism data. Next, they entered women's data into this algorithm, and told it to calculate the metabolic ages of the women. They found that, when trained on men's data, the algorithm yielded brain-metabolic ages for the women that were 3.8 years younger than the women's chronological age.
                <br /><br />
                Then, the researchers flipped their analysis: they trained the algorithm on women's data, and told it to calculate the brain ages for men. Doing it this way, the algorithm reported that the men's brains were about 2.4 years older than their actual chronological ages.
                <br /><br />
                <h1>Sex differences</h1>
                <br />
                Interestingly, the gap between men and women's brain ages was detectable even in young adults in their 20s. "It's not that men's brains age faster — they start adulthood about three years older than women, and that persists throughout life," Goyal said.
                <br /><br />
                The researchers noted that the relative "metabolic youth" of women's brains also parallels the slightly
                <a>longer life span of women</a>
                , compared with men.v
                <br /><br />
                Still, Goyal noted that the difference between men and women's brain ages was relatively small compared with other well-known sex differences, such as height.
                <br /><br />
                More studies are now needed to better understand this brain-age difference and whether it affects the risk of age-related brain disease, such a Alzheimer's.
                <br /><br />
                Goyal said that the researchers are currently working on another study to test whether the findings play a role in why women don't experience as much cognitive decline as men.

                <a>10 Things You Didn't Know About the Brain</a>
                <a>5 Myths About Women's Bodies</a>
                <a>10 Facts Every Parent Should Know about Their Teen's Brain</a>
            </p>
        </div>
    </div>
</body>
</html>

