
@{
    ViewBag.Title = "Artical";
}

    <html>
    <head>
        <title> Artical </title>
        <link href="~/Content/Styles.css" type="text/css" rel="stylesheet" />
        
    </head>
    <body>
        <div class="column">
            <div class="card">
                <div class="services">
                    <h1> <span class="BlueText">READ OUR </span> <br> <br /> <span class="head"> Recent Articles </span> </h1>
                    <div class="our_department_area">
                        <div class="container7">
                            <div class="row">
                                <div class="col-xl-4 col-md-6 col-lg-4">
                                    <div class="single_department">
                                        <div class="department_thumb">
                                            <img src="~/Images/shoveling.jpg" style="width:340px;height:400px;" alt="">
                                        </div>
                                        <div class="department_content">
                                            <h1><a href="https://localhost:44344/Artical/Artical3">How Does a Person Freeze To Death?</a></h1>
                                            <p>

                                            </p>
                                            <form class="rating1">
                                                <label>
                                                    <input type="radio" name="stars" value="1" />
                                                    <span class="icon1">♥</span>
                                                </label>
                                            </form>
                                            <a href="#" class="learn_more" style="color:#3498db;"> 05 Mar 2020</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6 col-lg-4">
                                    <div class="single_department">
                                        <div class="department_thumb">
                                            <img src="~/Images/people.jpg" style="width:340px;height:400px;" alt="">
                                        </div>
                                        <div class="department_content">
                                            <h1><a href="https://localhost:44344/Artical/Artical1"> Brain Woman Is 3 Y.Younger Than Man </a></h1>
                                            <p>

                                            </p>
                                            <form class="rating1">
                                                <label>
                                                    <input type="radio" name="stars" value="1" />
                                                    <span class="icon1">♥</span>
                                                </label>

                                            </form>
                                            <a href="#" class="learn_more" style="color:#3498db;"> 05 Mar 2020</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6 col-lg-4">
                                    <div class="single_department">
                                        <div class="department_thumb">
                                            <img src="~/Images/hands.jpg" style="width:340px;height:400px;" alt="">
                                        </div>
                                        <div class="department_content">
                                            <h1><a href="https://localhost:44344/Artical/Artical2">Climate Change May Hurt Babies Hearts </a></h1>
                                            <p>

                                            </p>
                                            <form class="rating1">
                                                <label>
                                                    <input type="radio" name="stars" value="1" />
                                                    <span class="icon1">♥</span>
                                                </label>

                                            </form>
                                            <a href="#" class="learn_more" style="color:#3498db;"> 05 Mar 2020</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <br /><br />
                    
                </div>
            </div>
        </div>
    </body>
    </html>
