
@{
    ViewBag.Title = "Artical3";
}

<html>
<head>
    <title> Artical </title>
    <link href="~/Content/StyleArtical.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/footer.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="services">
        <h1> <span class="BlueText">READ OUR </span> <br> <br /> <span class="head"> TOPICS </span> </h1>
    </div>
    <div class="all">
        <div class="content1">
            <img src="~/Images/shoveling.jpg" class="imgbox">
            <br /><br /><br />
            <img src="~/Images/lapland.jpg" class="imgbox" style="margin-top:200px">
            <br /><br /><br /><br /><br /><br /><br /><br /><br />
            <form class="rating1">
                <label>
                    <input type="radio" name="stars" value="1" />
                    <span class="icon1">♥</span>
                </label>

            </form>
            <a href="" class="but"> View All </a>
        </div>
        <div class="content2">
            <h1 class="topicname">How Does a Person Freeze to Death?</h1>
            <p class="paragraph">
                has brought bitter cold — even Arctic-like temperatures — to parts of the Upper Midwest and Eastern U.S., and this frigid air may have you feeling like you could "freeze to death."
                <br /><br />
                Indeed, when temperatures dip this low, frostbite and hypothermia are real health concerns. Weather officials have warned of dangerous and even life-threatening wind chills through Thursday (Jan. 31).
                <a>
                    [
                    7 Crazy Things That Happen Only When It's Really Cold
                    ]
                </a>
                <br /><br />
                However, death from the cold can happen even if the body isn't literally frozen.Advertisementtmntag.cmd.push(function(){ tmntag.adTag('in-article-1', false); });
                <br /><br />
                Core temperature drop
                <br /><br />
                A person's core body temperature usually hovers around 98.6 degrees Fahrenheit (37 degrees Celsius).
                <a>Hypothermia</a>
                <br /><br />
                occurs when core body temperature dips to around 95 F (35 C) or lower. Surprisingly, people can experience hypothermia in relatively cool, but not freezing, air temperatures — around 30 to 50 F (minus 1 to 10 C) — particularly if they are wet, such as from rain, sweat or submersion in cold water, according to the
                <a>
                    National Weather Service
                </a>

                <br /><br />
                The body loses heat about 25 times faster in water than in air, Michael Sawka, chief of the Thermal & Mountain Medicine Division at the U.S. Army Research Institute of Environmental Medicine (USARIEM), told Live Science in a 2010 interview.
                <br /><br />
                But hypothermia at these relatively cool temperatures is unusual.
                <br /><br />
                Temperatures that are subzero, however, are "a whole different animal," said Dr. Robert Glatter, an emergency physician at Lenox Hill Hospital in New York City.
                <br /><br />
                At minus 30 F (minus 34 C), an otherwise healthy person who isn't properly dressed for the cold could experience hypothermia in as little as 10 minutes, Glatter said. At minus 40 to minus 50 F (minus 40 to minus 45 C), hypothermia can set in in just 5 to 7 minutes, he said.
                <br /><br />
                A drop in body temperature prevents critical organs from working properly — including the brain and heart, according to the
                <a>Mayo Clinic</a>
                <br /><br />
                Improper functioning of the heart results in reduced blood flow to many organs, putting the body in a state of shock and increasing the risk of conditions like liver failure and
                <a>kidney failure</a>
                <br />
                Glatter told Live Science. The very young and the very old are at greater risk for hypothermia because they generally have weaker heart muscles, he said. In addition, older people are more likely to take medications such as beta blockers that can slow
                <br /><br />
                Glatter told Live Science. The very young and the very old are at greater risk for hypothermia because they generally have weaker heart muscles, he said. In addition, older people are more likely to take medications such as beta blockers that can slow
                <a>heart rate</a>
                <br />
                which further increases their risk of developing hypothermia in the cold.
                <br /><br />
                The record for the lowest body temperature at which an adult has been known to survive is 56.7 F (13.7 C), which occurred after the person was submerged in cold, icy water for quite some time, according to John Castellani, of the USARIEM, who also spoke with Live Science in 2010.

                <br /><br />
                Left untreated, hypothermia can lead to complete failure of the heart, and eventually death, according to the Mayo Clinic.
                <br /><br />
                As soon as that bitter air hits your face, your body will try to insulate itself by moving blood away from the skin and outer extremities, such as fingers and toes, and toward its core. This process is called vasoconstriction, and it helps limit the amount of heat you lose to the environment, Castellani said.
                <br /><br />
                Editor's note: A version of this article was published on Jan. 7, 2010. It was updated with new information and an interview with Dr. Glatter on Jan. 30, 2019.

            </p>
        </div>
    </div>
</body>
</html>

